# Dependencias
# Mesa 3.5.1 requiere Python 3.12 o superior
#
#   pip install -r requirements.txt

colorama==0.4.6
Mesa==3.5.1
networkx==3.6.1
numpy==2.5.2
pandas==3.0.5
python-dateutil==2.9.0.post0
scipy==1.18.1
six==1.17.0
tqdm==4.70.0
tzdata==2026.3
